.form{
    background-color: lightblue;
    width: 50%;
    height: 50vh;
    margin: auto;
    &__container{
        margin: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}