.form {
  box-sizing: border-box;
  background-color: #f4f1f1;
  padding: 0;
  margin: 1rem 0;
  border: 1px solid orange;
  width: 20vw;

  &__wrapper {
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__inputwrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &--height {
      flex-direction: row;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__gender {
    font-size: 1.2rem;
  }

  &__genderF,
  &__genderM {
    margin-right: 0.5rem;
    position: relative;
    bottom: -1px;
  }
  &__input {
    width: 20%;
    height: 2rem;
    box-sizing: border-box;
    margin-top: 0.1rem;
    margin-bottom: 0.6rem;
    padding: 0.4rem 0.9rem;
    border-radius: 1.25rem;
    border: 1px solid orange;

    &--heightFeet {
      margin-right: 1rem;
    }
  }
  &__activity {
    width: 90%;
    &--select {
      height: 3rem;
    }
  }

  &__result {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #bed2c4;
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;

    &--DCN{
        width: 100%;
    }
  }

  &__btn {
    margin: auto;
    margin-bottom: 1rem;
    width: 15rem;
    line-height: 2.25rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    color: white;
    background-color: orange;
    box-sizing: content-box;
    border-radius: 1.25rem;
  }
}

.error {
    background: #bf2121;
    color: white;
    text-align: center;
    padding: 4px 16px;
    margin-bottom: 15px;
    display: inline-block;
  }