$primary-color-one: #13182C;
$primary-color-two: #2E66E5;
$primary-color-three: #FFFFFF; 

$secondary-color-one: #5C667E;
$secondary-color-two: #BDC5D5; 

$background-color-one: #232940;
$background-color-two: #F7F8F9;

$support-color-one: #158463;
$support-color-two: #C94515;

$hover-color: #ebf1fa;